html{

  min-height: 100%;
  position: relative;

}
body{
    margin: 0px;
    padding: 0px;
    background-color: #EFF4F4;
    min-height: 100%;
    display: grid;
    margin-bottom: 60px;
}

.main-content{

    margin-top: 115px;
}

nav a{

    font-size: 1.3em;
    color: #EEEFF5;
}
.nav-item:hover{
    color: #FF5734; 
}
.navbar{

    background: #263354;
}

.navbar-brand{

    color: #FF5734;
    font-weight: bolder;
    font-size: 2.75rem;
}
.navbar-brand:hover{

    color: #FF5734;
}

#logo-1{

    color: #FDEDE9; 
}


.btn-outline-info{

    color: #FF5734;
    border-color: #FF5734; 
}

.btn-outline-info:hover{

    background-color: #FF5734;
    border-color: #FF5734;

}

.content-section {
    background: #ffffff;
    padding: 20px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }

  .post-sec{
      margin-bottom: 20px;
  }

  .blog-img{

    height: fit-content;
  }

  #user-posts{

    margin-top: 50px;
  }

  .blog-title{

    color:#0F131D;
  }

  .blog-title:hover{

    color : #FF5734;
    text-decoration: none;
  }

  .dropdown-item:hover{

    background-color: #ffb4a4;
  }

  .content-section {

    background-color: #fcf5f4;
  }

pre{

    white-space: pre-wrap;
}
footer{

  background-color: #0b111f;
  color: #f0f0f0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: auto;
  height: 60px;
}

.foota{

  color:#FDEDE9;
}
.foota:hover{

  color: #FF5734;
  text-decoration: none;
}

