{%extends "layout.html"%}
{%block content%}
    <div class="container">
        <div class="row mt-4">
            {% for post in posts %}
            <div class="col-md-4 post-sec">
                <article class="media content-section">
                    <div class="media-body">
                        <figure>
                            <a href="{{ url_for('post', post_id=post.id) }}"><img class="img-fluid blog-img" src="{{ url_for('static', filename='resources/blog_pics/' + post.image_post) }}" alt="Some alt text"></a>
                        </figure>  
                        <div class="article-metadata">
                            <h2><a class="article-title blog-title" href="{{ url_for('post', post_id=post.id) }}">{{post.title}}</a></h2>
                        </div>
                        <a class="mr-2" href="{{ url_for('user_profile', username=post.author.username) }}">{{post.author.username}}</a>
                        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                    </div>
                </article>
            </div>
            {% endfor %}
        </div>
    </div>
{%endblock content%}